@page "/eventloss"

<PageTitle>Event Loss Tables</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app. This is the event loss tables page.

<SurveyPrompt Title="How is Blazor working for you?" />

