
<div class="btn-group dropleft">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-gears fa-inverse"></i>
    </button>
    <ul class="dropdown-menu multi-level" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="https://www.aaic.com/">Exit To AmericanAg</a></li>
        <li class="dropdown-submenu">
            <div class="dropdown-item">
                Admin
                <i class="fa-solid fa-caret-right"></i>
            </div>
            <ul class="dropdown-menu">
                <li><div class="dropdown-item" href="#">Change Database</div></li>
                <li class="dropdown-submenu">
                    <div class="dropdown-item">
                        Analysis Queue
                        <i class="fa-solid fa-caret-right"></i>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Cancel My Queue Items</a></li>
                        <li><a class="dropdown-item" href="#">Cancel All Users Queues</a></li>
                        <li><a class="dropdown-item" href="#">View</a></li>
                        <li><a class="dropdown-item" href="#">Launch Personal Engine Locally</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <div class="dropdown-item">
                        Company Mgmt
                        <i class="fa-solid fa-caret-right"></i>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Rename Company</a></li>
                        <li><a class="dropdown-item" href="#">Delete Company</a></li>
                        <li><a class="dropdown-item" href="#">Merge Companies</a></li>
                        <li><a class="dropdown-item" href="#">Change Folder</a></li>
                        <li><a class="dropdown-item" href="#">Set SICS PartnerID</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <div class="dropdown-item" href="#">
                        Event Metrics
                        <i class="fa-solid fa-caret-right"></i>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Add</a></li>
                    </ul>
                </li>
                <li><a class="dropdown-item" href="#">Simulation Sets</a></li>
                <li><a class="dropdown-item" href="#">Customize Background</a></li>
                <li><a class="dropdown-item" href="#">Exchange Rates</a></li>
                <li><a class="dropdown-item" href="#">Delete Bad Component</a></li>
                <li><a class="dropdown-item" href="#">Set EBM Template Path</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <div class="dropdown-item">
                Utilities
                <i class="fa-solid fa-caret-right"></i>
            </div>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Allocation Utility</a></li>
                <li><a class="dropdown-item" href="#">Bulk YLT Export</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <div class="dropdown-item">
                Search
                <i class="fa-solid fa-caret-right"></i>
            </div>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">SICS ID Search (Live)</a></li>
                <li><a class="dropdown-item" href="#">Component Name Search</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <div class="dropdown-item">
                PowerBI
                <i class="fa-solid fa-caret-right"></i>
            </div>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Portfolio Summary</a></li>
                <li><a class="dropdown-item" href="#">Renewal Dashboard</a></li>
            </ul>
        </li>
        <li><a class="dropdown-item" href="#">PMT Documentation</a></li>
    </ul>
</div>

@code {

}
