<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src="placeholder-logo.png" /></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link pl-2" href="" Match="NavLinkMatch.All">
                <i class="fa-solid fa-house"></i> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link lh-base" href="components" style="height: 4em">
                <i class="fa-solid fa-layer-group"></i> Reinsurance Components
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link lh-base" href="eventloss">
                <i class="fa-solid fa-table"></i> Event Loss Tables
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="exposures">
                <i class="fa-solid fa-cloud"></i> Exposures
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="experience">
                <i class="fa-solid fa-lines-leaning"></i> Experience
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link lh-base" href="portfolio">
                <i class="fa-solid fa-business-time"></i> Live Portfolio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="submissions">
                <i class="fa-solid fa-list"></i> Submissions
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
